<main>
    <section>
        <article class="app-to-do-app">
            <div class="panel">
                <div class="text-info">
                    <span>Vamos a cumplir tus metas.</span>
                    <h2>¡Hola usuario!</h2>
                    <span id="date">Sabado 14 de junio de 2025</span>
                </div>
                <div class="container-input">
                    <input type="text" id="input-task" maxlength="35" #inputTask placeholder="Escribe una tarea...">
                    <button type="button" id="btn-task" (click)="agregarTarea()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                    </button>
                </div>
                <div class="container-tasks">
                    <span>Estas son tus tareas pendientes</span>
                    <ul id="list-tasks" #listTasks>
                        <li *ngFor="let task of tasks; let i = index">
                            <div class="check-task" (click)="completarTarea($event)">
                                <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!task.completed" width="24" height="24" fill="currentColor" class="bi bi-circle"
                                (click)="completarTarea($event)" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                </svg>

                                <svg xmlns="http://www.w3.org/2000/svg" *ngIf="task.completed" width="24" height="24" fill="green" 
                                class="bi bi-check2-circle" viewBox="0 0 16 16" (click)="completarTarea($event)">
                                    <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                                    <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                                </svg>
                            </div>
                            <span *ngIf="!task.edit && !task.completed" class="task-text">{{task.text}}</span>
                            <span *ngIf="!task.edit && task.completed" class="task-text" style="text-decoration: line-through;">{{task.text}}</span>
                            <input *ngIf="task.edit" maxlength="35" type="text" class="task-text" value="{{task.text}}">
                            <div class="container-buttons">
                                <button type="button" *ngIf="!task.edit" class="icon-edit" (click)="editarTarea($event)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                    </svg>
                                </button>
                                <button type="button" *ngIf="task.edit" class="icon-edited" (click)="editarTarea($event)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                                    </svg>
                                </button>
                                <button type="button" class="icon-trash" (click)="eliminarTarea($event)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                    </svg>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
    </section>
</main>