<main>
  <section class="banner">
    <div class="banner-animated">
      
    </div>
    <p class="title-info">¿BUSCAS SOLUCIONES DIGITALES?</p>
    <p class="text-info">
      ¡Hola! Soy José Bueno, especialista en desarrollo web y aplicaciones multiplataforma.
    </p>
    <p class="text-info">¡Bienvenido a mi portafolio!</p>
    <input type="button" id="contact-button" value="¡Contactame!" (click)="this.router.navigate(['/contact'])" />
  </section>
  <section class="info">
    <article class="banner-info">
      <img src="../../../assets/jb.jpg" alt="" />
      <div class="container-text">
        <div class="text-bio">
          <h3>Un paseo sobre mi</h3>
          <p>
            Desarrollador de aplicaciones multiplataforma en formación, con experiencia académica creando soluciones web, móviles y de escritorio. Motivado por aprender, mejorar y llevar ideas a proyectos funcionales.
          </p>
        </div>
        <div class="text-skills">
          <h3>Habilidades tecnicas</h3>
          <div class="icons-language">
              <img src="../../../assets/react-2.svg" alt="React.Js" />
              <img src="../../../assets/angular-icon-1.svg" alt="Angular" />
              <img src="../../../assets/django.svg" alt="Django Python" />
              <img src="../../../assets/dotnet-svgrepo-com.svg" alt="Dotnet" />
              <img src="../../../assets/flask-logo-png.png" alt="Flask Python" style="border-radius: 15px;" />
              <img src="../../../assets/ionic-vector-logo.svg" alt="Ionic" style="border-radius: 15px; background-color: white;" />
              <img src="../../../assets/mySQL-logo.png" alt="Mysql" />
              <img src="../../../assets/mongodb.svg" alt="MongoDB" style="background-color: white; border-radius: 15px;" />
          </div>
        </div>
      </div>
    </article>
  </section>
  <section class="section-attributes">
    <article class="content-attributes">
        <h2>¿Que me hace diferente?</h2>
        <div class="childs-attributtes">
            <div class="child-attribute">
                <img src="../../../assets/all-in-one.svg" alt="">
                <h4>Todo en uno</h4>
                <p>Te ofrezco soluciones completas en desarrollo web y aplicaciones. Quiero que tengas todo lo que necesitas en un solo lugar, sin complicaciones.</p>
            </div>
            <div class="child-attribute">
                <object
                width="128"
                height="64"
                data="../../../assets/camaleon.svg"
                type="image/svg+xml"
                #camaleon
                id="camaleon"
                ></object>
                <h4>Adaptabilidad</h4>
                <p>Me adapto a tus necesidades para crear sitios y aplicaciones que funcionen perfectamente en cualquier dispositivo y se ajusten a lo que buscas.</p>
            </div>
            <div class="child-attribute">
                <img src="../../../assets/check.svg" alt="" height="60px">
                <h4>Calidad garantizada</h4>
                <p>Te aseguro un trabajo bien hecho, con atención a cada detalle, para que tu web y tu app no solo cumplan tus expectativas, sino que las superen.</p>
            </div>
        </div>
    </article>
  </section>
  <section class="info-boxes">
    <article class="content-boxes">
        <div class="info-box">
          <h3>Desarrollador Web</h3>
          <div class="info-content">
            <p>Desarrollo tu página web a medida, totalmente personalizable y adaptada a tus necesidades. Ya sea un e-commerce o la web de tu negocio, me encargo de todo: diseño y funcionalidad. ¡Haz realidad tu proyecto con una solución profesional!</p>
            <img src="../../../assets/web-img.jpg" alt="">
          </div>
        </div>
        <div class="info-box">
            <h3>Desarrollador de aplicaciones multiplataforma</h3>
            <div class="info-content">
              <p>Desarrollo soluciones multiplataforma que funcionan perfectamente en móviles, tablets y computadoras. Llevo tu idea a cualquier pantalla, asegurando una experiencia óptima y adaptada para todos tus usuarios. ¡Haz que tu proyecto llegue a más personas, sin importar el dispositivo!</p>
              <img src="../../../assets/apps-img.jpg" alt="">
            </div>
          </div>
        <div class="info-box">
            <h3>Desarrollador de ERP</h3>
            <div class="info-content">
              <p>Te ayudo a gestionar todas las áreas de tu negocio mediante el potencial de un software de gestión empresarial, optimizando procesos, centralizando la información y facilitando la toma de decisiones para que puedas enfocarte en hacer crecer tu empresa.</p>
              <img src="../../../assets/odoo-erp.png" alt="">
            </div>
          </div>
        <div class="info-box-form">
            <h3>Mi objetivo es contribuir al éxito de tu proyecto con dedicación y creatividad.</h3>
            <div class="img-flechas">
              <img src="../../../assets/flecha.svg" alt="">
              <img src="../../../assets/flecha.svg" alt="">
              <img src="../../../assets/flecha.svg" alt="">
            </div>
            <a href="/contact">¡Contratame!</a>
        </div>
    </article>
  </section>
</main>
