<footer>
    <h3>J. F. Bueno Luis</h3>
    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="/proyectos">Proyectos</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contacto</a></li>
        </ul>
    </nav>
    <ul class="social-media">
        <li><a href="https://linkedin.com/in/josé-bueno-luis-8043a9264"><img src="../../../assets/icon-linkedin.png" alt="Icon Linkedin"></a></li>
        <li><a href="https://github.com/josebuenoluis"><img src="../../../assets/icon-github-50.png" alt="Icon GitHub"></a></li>
    </ul>
    <p>Copyright © 2025 José Francisco Bueno Luis</p>
</footer>
