<main>
    <section class="banner">
        <div class="text-info">
            <h1>¡Bienvenido a mi blog!</h1>
            <hr />
            <p>
                Aqui encontraras tutoriales, mis experiencias y recursos que te ayudaran en tu camino por 
                el emocinante mundo de la informatica. Ademas compartire soluciones a errores comunes y 
                curiosidades interesantes para inspirarte y aprender juntos.
            </p>
        </div>
        <div class="img-container">
            <img src="" alt="">
        </div>
    </section>
    <section class="articles-container">
        <article class="article-info">
            <div class="info-box">
                <div class="post-info">
                    <p>Publicado el 12/04/2025</p>
                    <p>Categoria: Web</p>
                </div>
                <div class="title">
                    <h2>Titulo del articulo</h2>
                    <hr />
                </div>
                <div class="img-post">
                    <img src="" alt="">
                </div>
                <p class="text-article">Lorem ipsum dolor sit amet. Est cupiditate galisum qui perspiciatis
                    dolores sed consectetur incidunt. Id laborum error in eius dolorem qui excepturi 
                    reiciendis aut blanditiis molestiae sit molestiae ullam?
                    <a href="#">leer mas...</a>
                </p>
            </div>
            <div class="info-box">
                <div class="post-info">
                    <p>Publicado el 12/04/2025</p>
                    <p>Categoria: Web</p>
                </div>
                <div class="title">
                    <h2>Titulo del articulo</h2>
                    <hr />
                </div>
                <div class="img-post">
                    <img src="" alt="">
                </div>
                <p class="text-article">Lorem ipsum dolor sit amet. Est cupiditate galisum qui perspiciatis
                    dolores sed consectetur incidunt. Id laborum error in eius dolorem qui excepturi 
                    reiciendis aut blanditiis molestiae sit molestiae ullam?
                   <a href="#">leer mas...</a>
               </p>
            </div>
        </article>
        <article class="article-info">
            <div class="info-box">
                <div class="title-info-categories">
                    <h3>Categorias</h3>
                    <hr />
                </div>
                <ul>
                    <li><a href="#">Categoria</a></li>
                    <li><a href="#">Categoria</a></li>
                    <li><a href="#">Categoria</a></li>
                    <li><a href="#">Categoria</a></li>
                    <li><a href="#">Categoria</a></li>
                </ul>
            </div>
            <div class="info-box">
                <div class="title-info-categories">
                    <h3>Categorias</h3>
                    <hr />
                </div>
                <ul>
                    <li><a href="#">Categoria</a></li>
                    <li><a href="#">Categoria</a></li>
                    <li><a href="#">Categoria</a></li>
                    <li><a href="#">Categoria</a></li>
                    <li><a href="#">Categoria</a></li>
                </ul>
            </div>
        </article>
    </section>
</main>