<main>
    <section class="tittle">
        <h1>Mis Proyectos</h1>
    </section>
    <section class="stroke">
        <hr />
    </section>
    <section class="text-presentation">
        <p>A continuación, te presento algunos de los proyectos en los que he trabajado. Cada uno refleja mi experiencia y habilidades en diferentes tecnologías.</p>
    </section>
    <section class="projects-section" #seccionProyectos>
        <article class="project-box">
            <div class="img-project">
                <img src="../../../assets/to-do-app-img.svg" alt="">
            </div>
            <div class="text-info">
                <h3>To Do App</h3>
                <p>Una app para que listes tus tareas, marques las completadas y elimines las que ya no necesitas. Permite organizar tus pendientes de manera sencilla y eficiente.</p>
                <div class="tecnologies-box">
                    <div class="tecnologie-content">
                        <p>Angular</p>
                    </div>
                </div>
                <a href="/proyectos/to-do-app">Ver proyecto</a>
            </div>
        </article>
        
    </section>
</main>